<h1>Bonjour, logguez-vous ou inscrivez-vous :</h1>
<form action="/log_in" method="get" accept-charset="utf-8">
	<button type="submit">Se logguer</button>
</form>
<form action="/sign_in" method="get" accept-charset="utf-8">
	<button type="button">S'inscrire</button>
</form>
