<div class="screen">
	<div class="down">
		<p id="ab">----- LOAD MENU -----</p>
	</div>
	<div class="save_1">
		<p id="saves">Sauvegarde 1 - [EMPTY]</p>
	</div>
	<div class="save_2">
		<p id="saves">Sauvegarde 2 - [EMPTY]</p>
	</div>
	<div class="save_2">
		<p id="saves">Sauvegarde 3 - [EMPTY]</p>
	</div>
	<div class="down">
		<p id="ab">[START] Return to game</p>
	</div>
</div>
